LAPORAN_SKRIPSI.aux
LAPORAN_SKRIPSI.glo
LAPORAN_SKRIPSI.lof
LAPORAN_SKRIPSI.log
LAPORAN_SKRIPSI.lot
LAPORAN_SKRIPSI.out
LAPORAN_SKRIPSI.synctex.gz
LAPORAN_SKRIPSI.toc

LAPORAN_TESIS.aux
LAPORAN_TESIS.glo
LAPORAN_TESIS.lof
LAPORAN_TESIS.log
LAPORAN_TESIS.lot
LAPORAN_TESIS.out
LAPORAN_TESIS.synctex.gz
LAPORAN_TESIS.toc

.DS_Store
texput.log
.vscode
.idea